 head {
 	height: 0;
 }

 body, html {
 	/* The image used */
    background-image: url("../assets/LoginBack.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#loginMenuDiv{
    position: fixed;
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    display: inline-block;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    height: 30%;
}

#loginMenu{

}

#username, #pwd, #submit{
    /*centers elements within loginMenuDiv*/
    position: relative;
    left: 50%;
    margin-left: -45%;

    display: block;/*displays elements below eachother*/
    width: 80%;
    height: 30%;
    margin-top: 10px;
    padding: 20px;
    box-sizing: content-box; /*gives all elements same width by giving the same box sizing*/
}

#submit{
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 10%;
    background: rgba(0,0,0,0.4);
}

#foot {
	text-align: center;
	color: white;
}

