<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "../static/css/login.css">
</head>
<body>	
	<!--shows form where user can login-->
	<form id="loginMenu" action="" method="post">
		<input type="text" id="username" name="username">
		<label id="usernametxt">USERNAME</label><br>
		<input type="password" id="pwd" name="password">
		<label id="pwdtxt">PASSWORD</label><br>
		<input type="submit" value="log in" id="submit">	
	</form>

	<div id="footer">
		<div id="foot">
			<p>image credits</p>
			<p>Developed by Ronanskie</p>
		</div>
	</div>
</body>
</html> 
