<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "../static/css/login.css">
</head>
<body>	
	<div id="alertBlock">
		<p id="alertText">info text</p>
	</div>

	<div id="loginMenuDiv">
		<!--shows form where user can login-->
		<form id="loginMenu" action="" method="post">
			<input type="text" id="username" name="username" placeholder="Username">
			<input type="password" id="pwd" name="password" placeholder="Password">
			<input type="submit" value="LOG IN" id="login">	
			<input type="submit" value="REGISTER" id="register">
		</form>
	</div>

	<div id="footer">
		 <button type="button" id="info">?</button> 
	</div>
</body>
</html> 
