<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "../static/css/login.css">
</head>
<body>	
	<div id="loginMenuDiv">
		<!--shows form where user can login-->
		<form id="loginMenu" action="" method="post">
			<input type="text" id="username" name="username" placeholder="Username">
			<input type="password" id="pwd" name="password" placeholder="Password">
			<input type="submit" value="log in" id="submit">	
		</form>
	</div>

	<div id="footer">
		<div id="foot">
			<p>image credits</p>
			<p>Developed by Ronanskie</p>
		</div>
	</div>
</body>
</html> 
